@import"reset.css";
/* Set headings */
/* HTML4 Defaults: http://www.w3.org/TR/CSS21/sample.html */
h1 { font-size: 2.00em; margin: 0.67em 0em; line-height:1.50em; }
h2 { font-size: 1.30em; margin: 0.75em 0em; line-height:1.25em; }
h3 { font-size: 1.17em; margin: 0.83em 0em; line-height:1.20em; }
h4 { font-size: 1.00em; margin: 1.12em 0em; line-height:1.18em; }
h5 { font-size: 0.83em; margin: 1.50em 0em; line-height:1.14em; }
h6 { font-size: 0.75em; margin: 1.67em 0em; line-height:1.12em; }
p  { font-size: 1.00em; margin: 0.50em 1em; line-height:1.20em; }
h1, h2, h3, h4, h5, h6, b { font-weight:bolder; }
ol {list-style-type:decimal; margin-left:2em;}
ul {list-style-type:circle; margin-left:2em;}
strong { font-weight:bold; }
em { font-size:smaller; }
fieldset { border:#000 thin solid; padding:1em;}
legend { font-weight:bold; text-align:center; }
label { font-weight:bold; }

/* General Styling */
body {
  background:url("../images/bg_tile.png") top left repeat;
	color:#000;
}

#header, #wrapper, #footer {
  min-width:800px;
	margin:0 auto;
}

#wrapper {
  color:#000;
	background:inherit;
}
h1 {
  color:#008;
}

/* Log In Styling */
#login {
	margin-top:100px;
  background:inherit;
}
#login form {
  width:250px;
	margin:0 auto;
}
.fake_link {
	color:#00f;
	text-decoration:none;
}
.fake_link:hover {
	text-decoration:underline;
	cursor:pointer;
}
.fake_link:active {
	text-decoration:underline;
	cursor:pointer;
	color:#f00;
}

/* Admin page Styling */
#admin {
  background:inherit;
}
#admin form {
  width:500px;
	margin:0 auto;
}

/* Header Styling */
#header {
	text-align:center;
	font-size:1.50em;
	background:#dde;
	border-bottom:#008 4px solid;
}
#header h1 {
	margin:0;
}

/* Navagation Styling */
#nav {
  float:right;
	background:red; /* why? */
	margin:0;
}
#nav ul>li {
  float:left;
	width:6em;
}
#nav ul {  
  list-style-type:none;
  margin:0; 
  padding:0;
}
#nav ul a {          
  background:#008;
	border:solid thin #840;
	color:#fff;
	display:block;
  padding:0.25em 0 0.25em 0;
	width:6em;
	text-align:center;
  text-decoration:none;  
}
#nav ul a:hover {
  background:#77f;
	color:#321;
}
#nav input[type="submit"] {
  text-align:center;
}

/* Sidebar Styling */
#sidebar {
  float:left;
	background:#eee;
	padding:0.25em;
}
#sidebar ul {
  list-style-type:none;
  margin:0;
  padding:0;
  width:10em;
}
#sidebar ul a{
  background:#008;
	border:solid thin #840;
	color:#fff;
	display:block;
	padding:0.25em 0 0.25em 0;
  text-align:center;
  text-decoration:none;
  width:10em;
}  
#sidebar ul a:hover{
  background:#77f;
	color:#321;
} 

/* Content Styling */
#content {
  background:#ddd;
	margin-left:11em;
	padding:4px; 
}

/* Footer Styling */	
#footer {
  color:#004;
	font-size:smaller;
	text-align:center;
  clear:both; 
	padding:1em;
}

/* Link Styling */
a:link, a:visited {
  color:#008;
	text-decoration:none;
}
a:hover {
  color:#f70;
	text-decoration:underline;
	}
a:active {
  color:#800;
}