@import"reset.css";
@import"typography.css";
@imprort"forms.css";

em { font-size:smaller; }
fieldset { border:#000 thin solid; padding:1em;}
legend { font-weight:bold;}
label { font-weight:bold; }

/* General Styling */
body {
  background:url("../images/bg_tile.png") top left repeat;
	color:#000;
}

#header, #wrapper, #footer {
  min-width:900px;
	margin:0 auto;
}

#wrapper {
  color:#000;
	background:inherit;
}

/* Log In Styling */
#login {
	margin-top:98px;
  background:inherit;
}
#login form {
  width:250px;
	margin:0 auto;
}
.fake_link {
	color:#00f;
	text-decoration:none;
}
.fake_link:hover {
	text-decoration:underline;
	cursor:pointer;
}
.fake_link:active {
	text-decoration:underline;
	cursor:pointer;
	color:#f00;
}

/* Header Styling */
#header {
	text-align:center;
	font-size:1.50em;
	background:#dde;
	border-bottom:#444 4px solid;
	margin-bottom:2px;
}
#header h1 {
	margin:0;
	padding:12px;
}

/* Navagation Styling */
#nav {
  float:right;
	margin-top:0;
}
#nav ul>li {
  float:left;
}
#nav ul {  
  list-style-type:none;
	margin-right:0;
}
#nav ul a {          
  background:#444;
	border:solid thin #222;
	color:#fff;
	display:block;
  padding:0.25em 0;
	text-align:center;
  text-decoration:none;
	margin-left:2px;
	width:96px;
}
#nav ul a:hover {
  background:#666;
	color:#000;
}
#nav input[type="submit"] {
  text-align:center;
}

/* Sidebar Styling */
#sidebar {
  float:left;
	padding:0.25em;
	display:block;
}
#sidebar ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
#sidebar ul a{
  background:#444;
	color:#fff;
	display:block;
	padding:0.25em 0 0.25em 0;
  text-align:center;
  text-decoration:none;
	width:80px;
	height:64px;
	margin:2px;
	border:#222 1px solid;
} 
#sidebar ul a:hover{
  background:#666;
	color:#000;
} 

/* Content Styling */
#content {
  background:#ddd;
	padding:1em;
	margin-left:96px;	
}

/* Footer Styling */	
#footer {
  color:#004;
	font-size:smaller;
	text-align:center;
  clear:both; 
	padding:1em;
}

/* Link Styling */
a:link, a:visited {
  color:#008;
	text-decoration:none;
}
a:hover {
  color:#f70;
	text-decoration:underline;
	}
a:active {
  color:#800;
}